/* This is an override stylesheet for bootstrap */

.col-centered {
    float: none;
    margin: 0 auto;
}

.offset-top {
    margin-top: 200px;
}

#main-logo {
    margin-bottom: 5px;
}

.main-buttons {
    width: 110px
}

.main-buttons-group {
    width: 240px;
    margin-top: 8px
}

.force-resize {
    width: 64px;
}

.body-buttons {
    margin-top: 3px;
    margin-bottom: 10px;
}

body {
    background-color: F9F1DC;
}